*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.banner-img-1{
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.banner-img-2{
    background-image: url(images/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    height: 100vh;
}
.banner-img-3{
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    height: 100vh;
}

.price-card{
    border-radius: 10px;
}

.price-card:hover{
    color: white;
    background-color: #3F87F5;

}
.price-card:hover > .btn{
    background-color: white;
    color: #3F87F5;
}
